spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Proyectosdb?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none    # muy importante: que NO toque la estructura
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

server:
  port: 8080
